<div class="position-absolute top-50 start-50 translate-middle">
    <form style="margin-bottom: 50px;" action="/pdf/admin" method="post">

        <button class="btn btn-dark" type="submit" >Admin's pdf</button>
        <!-- <div class="btn btn-dark ">Admin's pdf</div> -->
        

    </form>
    <!-- <form action="/pdf/filtered" method="post" >
        <input type="text" name="filter" placeholder="Enter filter criteria (e.g. { name: 'c' })" required>
        <button class="btn btn-dark" type="submit">Generate PDF</button>
      </form> -->
    </div>